---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> 🍣 unagilovr welcomes you to the internet!</h1>
			<p>
				I am a compiler engineer based in Chicago, IL.
				I love compilers to the max and I blog about them here. 
				Reach out to me at unagilovr at gee-mail dot com.
			</p>
			<p>
				This site was built with <a href="https://astro.build/">Astro</a>, which is perfect for markdown-savvy web-ignorami like me.
			</p>
		</main>
		<Footer />
	</body>
</html>
